<div class="flex h-screen w-screen overflow-hidden">
    <div class="border-r border-slate-500 bg-slate-950 md:w-60 transition-all duration-200 ease-out">
        <div class="animation">
            <ul class="square">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
    <div class="flex-1 content bg-slate-950">
        <router-outlet></router-outlet>
    </div>
    <div class="border-l border-slate-500 bg-slate-950 md:w-60 transition-all duration-200 ease-out">
    </div>
</div>
