<div class="p-7 flex justify-center items-center">
    <div>
        <h1 class="text-slate-500">Error 401</h1>
        <a class="text-white" href="https://github.com/login/oauth/authorize?client_id=97a4dad514ad40370bbc&redirect_uri=http://localhost:4200/callback">Login with GitHub</a>
        <!-- <p>Please login https://github.com/ by your account and generate new access token!</p>
        <p>Then replace it into token param in environment.ts file to call api. It will display the data</p>
        <p>I'm really sorry for this inconvenience</p> -->
        <!-- <img src="assets/img/environment.png" alt=""> -->
    </div>
</div>
